body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.content {
  background: #e0e0e0;
  /* height: 100%; */
}

core-list {
   background: #ffffff;
   min-width: 480px;
   max-width: 480px;
}

core-list .row {
   background: white;
   height: 80px;
   padding: 16px;
}

core-list .thumbnail-image {
   background: #eaeaea;
   width: 64px;
   height: 64px;
   margin-right: 16px;
}

google-map {
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
#map {
  display: none;
}
core-list {
   width: 100%;
   min-width: none;
   max-width: none;
}
}


[drawer] {
  background-color: #EEEEEE;
}

core-toolbar {
  color: #FAFAFA;
  background-color: #373773;
}
