body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#content {
  background: #e0e0e0;
  /* height: 100%; */
}

#logo {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 2px solid;
   border-color: #fff;
}

core-list {
   background: #fff;
   min-width: 400px;
   max-width: 400px;
}

core-list .row {
   background: #fff;
   height: 80px;
   padding: 16px;
   padding-left:8px;
   border-color: #e0e0e0;
   border-width: 1px;
   border-bottom-style: solid
}

core-list .thumbnail-image {
   background: #eaeaea;
   width: 64px;
   height: 64px;
   margin-right: 16px;
}

paper-item {
   color: #333;
}

google-map {
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
#map {
  display: none;
}
core-list {
   width: 100%;
   min-width: none;
   max-width: none;
}
}


[drawer] {
  background-color: #EEEEEE;
}

core-toolbar {
  color: #FAFAFA;
  background-color: #373773;
}
